n8n-workflows/google-calendar-sync.json
{
  "name": "Google Calendar Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://dental-dashboard-nu.vercel.app/api/doctors",
        "options": {}
      },
      "id": "get-doctors",
      "name": "Get All Doctors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract doctors array from API response\n// API returns { \"doctors\": [...] }\nconst response = $input.first().json;\nconst doctors = response.doctors || [];\n\n// Return each doctor as a separate item\nreturn doctors.map(doctor => ({ json: doctor }));"
      },
      "id": "extract-doctors",
      "name": "Extract Doctors Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [590, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-calendar",
              "leftValue": "={{ $json.calendar_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-calendars",
      "name": "Has Calendar ID",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [810, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare for Google Calendar API - per doctor\nconst doctors = $input.all();\n\n// Get events from last 24 hours to next 30 days\nconst timeMin = new Date();\ntimeMin.setHours(timeMin.getHours() - 24);\n\nconst timeMax = new Date();\ntimeMax.setDate(timeMax.getDate() + 30);\n\nreturn doctors.map(doc => ({\n  json: {\n    doctorId: doc.json.id,\n    doctorName: doc.json.name,\n    clinicId: doc.json.clinic_id,\n    calendarId: doc.json.calendar_id,\n    timeMin: timeMin.toISOString(),\n    timeMax: timeMax.toISOString()\n  }\n}));"
      },
      "id": "prepare-query",
      "name": "Prepare Calendar Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1030, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.calendarId }}",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 100,
        "options": {
          "timeMax": "={{ $json.timeMax }}",
          "timeMin": "={{ $json.timeMin }}"
        }
      },
      "id": "google-calendar",
      "name": "Get Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [1250, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-creds",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform Google Calendar events to appointments format\nconst events = $input.all();\nconst queryData = $('Prepare Calendar Query').first().json;\n\nreturn events.map(event => {\n  const e = event.json;\n  \n  // Parse patient info from event title/description\n  let patientName = 'Неизвестен';\n  let patientPhone = null;\n  let appointmentType = 'Преглед';\n  \n  // Try to extract name from title (format: \"Name - Type\" or just \"Name\")\n  if (e.summary) {\n    const parts = e.summary.split(' - ');\n    patientName = parts[0].trim();\n    if (parts[1]) appointmentType = parts[1].trim();\n  }\n  \n  // Try to extract phone from description\n  if (e.description) {\n    const phoneMatch = e.description.match(/\\d{9,12}/);\n    if (phoneMatch) patientPhone = phoneMatch[0];\n  }\n  \n  return {\n    json: {\n      googleEventId: e.id,\n      clinicId: queryData.clinicId,\n      doctorId: queryData.doctorId,\n      patientName,\n      patientPhone,\n      appointmentType,\n      startTime: e.start?.dateTime || e.start?.date,\n      endTime: e.end?.dateTime || e.end?.date,\n      status: e.status === 'cancelled' ? 'cancelled' : 'scheduled',\n      source: 'google_calendar'\n    }\n  };\n});"
      },
      "id": "transform-events",
      "name": "Transform to Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dental-dashboard-nu.vercel.app/api/n8n/sync-calendar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ appointments: $input.all().map(i => i.json) }) }}",
        "options": {}
      },
      "id": "sync-appointments",
      "name": "Sync to Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1690, 300]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get All Doctors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Doctors": {
      "main": [
        [
          {
            "node": "Extract Doctors Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Doctors Array": {
      "main": [
        [
          {
            "node": "Has Calendar ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Calendar ID": {
      "main": [
        [
          {
            "node": "Prepare Calendar Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calendar Query": {
      "main": [
        [
          {
            "node": "Get Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Events": {
      "main": [
        [
          {
            "node": "Transform to Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Appointments": {
      "main": [
        [
          {
            "node": "Sync to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
