n8n-workflows/password-reset.json
{
  "name": "Dental - Password Reset",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-password-reset",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Password Reset Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "password-reset-webhook"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "settbg",
        "remoteJid": "={{ $json.body.phone }}",
        "messageText": "={{ '🔐 *Смяна на парола*\\n\\nЗдравей' + ($json.body.userName ? ' ' + $json.body.userName : '') + '!\\n\\nЗа нова парола кликни тук 👇\\n\\n' + $json.body.resetLink + '\\n\\n⏰ Валиден 30 мин.' }}",
        "options_message": {}
      },
      "id": "send-whatsapp",
      "name": "Send Reset Link",
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "evolutionApi": {
          "id": "XQSyFEVuFnjkHYYS",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Password reset sent' }) }}",
        "options": {}
      },
      "id": "response-ok",
      "name": "Response OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Password Reset Webhook": {
      "main": [[{"node": "Send Reset Link", "type": "main", "index": 0}]]
    },
    "Send Reset Link": {
      "main": [[{"node": "Response OK", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Sofia"
  },
  "staticData": null,
  "tags": ["dental", "auth", "whatsapp"]
}
