n8n-workflows/password-reset.json
{
  "name": "Dental - Password Reset",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-password-reset",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Password Reset Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "password-reset-webhook"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "instanceName": "default",
        "remoteJid": "={{ $json.body.phone }}@s.whatsapp.net",
        "message": "🔐 *Смяна на парола*\n\nЗдравей, {{ $json.body.userName }}!\n\nПолучихме заявка за смяна на паролата ти.\n\n👉 Кликни тук за нова парола:\n{{ $json.body.resetLink }}\n\n⏰ Линкът е валиден 30 минути.\n\n❗ Ако не си заявил/а смяна, игнорирай това съобщение.\n\n_Dental Dashboard_",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send Reset Link",
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "evolutionApi": {
          "id": "XQSyFEVuFnjkHYYS",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}",
        "options": {}
      },
      "id": "response-ok",
      "name": "Response OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Password Reset Webhook": {
      "main": [[{"node": "Send Reset Link", "type": "main", "index": 0}]]
    },
    "Send Reset Link": {
      "main": [[{"node": "Response OK", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Sofia"
  },
  "staticData": null,
  "tags": ["dental", "auth", "whatsapp"]
}
