n8n-workflows/whatsapp-booking-v2.json
{
  "name": "WhatsApp Booking v2 (with Patient History)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "whatsapp-booking-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.body?.data?.messageType }}",
              "rightValue": "conversation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-text-message",
      "name": "Is Text Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract message data from Evolution API webhook\nconst body = $input.first().json.body;\nconst data = body?.data || {};\nconst key = data?.key || {};\n\n// Get phone number (remove @s.whatsapp.net suffix)\nconst remoteJid = key.remoteJid || '';\nconst phone = remoteJid.replace('@s.whatsapp.net', '');\n\n// Get message content\nconst message = data?.message?.conversation || \n                data?.message?.extendedTextMessage?.text || \n                '';\n\n// Get message metadata\nconst messageId = key.id || '';\nconst timestamp = data?.messageTimestamp || Math.floor(Date.now() / 1000);\nconst pushName = data?.pushName || '';\n\nreturn [{\n  json: {\n    phone,\n    message,\n    messageId,\n    timestamp,\n    pushName,\n    rawPayload: body\n  }\n}];"
      },
      "id": "extract-message",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://dental-dashboard-nu.vercel.app/api/n8n/patient-lookup",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "79d22dce33bd515d33124461ecb3202c27e660944ef29b2cb3cdf3396d37c6e4"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "lookup-patient",
      "name": "Lookup Patient History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        200
      ],
      "notesInFlow": true,
      "notes": "NEW: Fetch patient history before AI processing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dental-dashboard-nu.vercel.app/api/n8n/log-conversation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "79d22dce33bd515d33124461ecb3202c27e660944ef29b2cb3cdf3396d37c6e4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"patientPhone\": \"{{ $('Extract Message Data').first().json.phone }}\",\n  \"direction\": \"inbound\",\n  \"content\": \"{{ $('Extract Message Data').first().json.message }}\",\n  \"messageType\": \"text\",\n  \"messageId\": \"{{ $('Extract Message Data').first().json.messageId }}\",\n  \"rawPayload\": {{ JSON.stringify($('Extract Message Data').first().json.rawPayload) }}\n}",
        "options": {}
      },
      "id": "log-inbound",
      "name": "Log Inbound Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ти си асистент на дентална клиника. Анализирай съобщението на пациента и извлечи информация.\\n\\nДнешната дата е {{ $today.format('yyyy-MM-dd') }}.\\n\\n{{ $('Lookup Patient History').first().json.found ? '--- ИНФОРМАЦИЯ ЗА ПАЦИЕНТА ---\\n' + $('Lookup Patient History').first().json.summary + '\\n\\nВземи предвид историята на пациента при отговор. Ако има предпочитан лекар, предложи час при него. Ако има предстоящ час, напомни за него.' : 'Това е НОВ ПАЦИЕНТ - няма история в системата.' }}\\n\\nВърни САМО валиден JSON с тази структура:\\n{\\n  \\\"intent\\\": \\\"booking_request\\\" | \\\"availability_inquiry\\\" | \\\"confirmation\\\" | \\\"cancellation\\\" | \\\"general_inquiry\\\",\\n  \\\"preferredDate\\\": \\\"YYYY-MM-DD или null\\\",\\n  \\\"preferredTime\\\": \\\"HH:MM или null\\\",\\n  \\\"procedureType\\\": \\\"тип процедура или null\\\",\\n  \\\"patientName\\\": \\\"име ако е споменато или null\\\",\\n  \\\"preferredDoctorId\\\": \\\"ID на предпочитан лекар от историята или null\\\"\\n}\\n\\nПримери за дати:\\n- \\\"утре\\\" = {{ $today.plus({days: 1}).format('yyyy-MM-dd') }}\\n- \\\"вдругиден\\\" = {{ $today.plus({days: 2}).format('yyyy-MM-dd') }}\\n- \\\"в понеделник\\\" = изчисли датата\\n- \\\"след седмица\\\" = {{ $today.plus({weeks: 1}).format('yyyy-MM-dd') }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Extract Message Data').first().json.message }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.3\n}",
        "options": {}
      },
      "id": "ai-intent-parser",
      "name": "AI Intent Parser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        200
      ],
      "notesInFlow": true,
      "notes": "UPDATED: Now includes patient history in prompt"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response\nconst aiResponse = $input.first().json;\nconst content = aiResponse.choices?.[0]?.message?.content || '{}';\nconst parsed = JSON.parse(content);\n\n// Get original message data\nconst messageData = $('Extract Message Data').first().json;\nconst logData = $('Log Inbound Message').first().json;\nconst patientData = $('Lookup Patient History').first().json;\n\n// Determine preferred doctor - from AI or from history\nlet preferredDoctorId = parsed.preferredDoctorId;\nif (!preferredDoctorId && patientData.found && patientData.preferredDoctor) {\n  // AI didn't specify, but we have a preferred doctor from history\n  // We'll need to look this up - for now just note it\n  preferredDoctorId = null; // Will be resolved at availability check\n}\n\nreturn [{\n  json: {\n    phone: messageData.phone,\n    message: messageData.message,\n    pushName: messageData.pushName,\n    conversationId: logData.conversationId,\n    intent: parsed.intent || 'general_inquiry',\n    preferredDate: parsed.preferredDate,\n    preferredTime: parsed.preferredTime,\n    procedureType: parsed.procedureType,\n    patientName: parsed.patientName || patientData.patient?.name || messageData.pushName,\n    preferredDoctorId: preferredDoctorId,\n    // Include patient info for personalization\n    isReturningPatient: patientData.found || false,\n    patientId: patientData.patient?.id || null,\n    lastVisit: patientData.lastVisit || null,\n    upcomingAppointments: patientData.upcomingAppointments || [],\n    totalVisits: patientData.stats?.totalVisits || 0\n  }\n}];"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.upcomingAppointments.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "check-existing-appointment",
      "name": "Has Upcoming Appointment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1800,
        200
      ],
      "notesInFlow": true,
      "notes": "NEW: Check if patient already has an upcoming appointment"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "booking_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "booking"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "availability_inquiry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "availability"
            }
          ],
          "fallbackOutput": {
            "fallbackOutput": "extra",
            "outputKey": "other"
          }
        },
        "options": {}
      },
      "id": "switch-intent",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2020,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "instanceName": "settbg",
        "remoteJid": "={{ $json.phone }}@s.whatsapp.net",
        "message": "={{ $json.isReturningPatient ? '👋 Здравей, ' + ($json.patientName || 'отново') + '! Радваме се да те видим пак.' : '👋 Здравей!' }}\n\n📅 Виждам, че вече имаш запазен час:\n*{{ $json.upcomingAppointments[0].date }}* в *{{ $json.upcomingAppointments[0].time }}*\nпри *{{ $json.upcomingAppointments[0].doctor }}*\n\nИскаш ли да:\n1️⃣ Запазиш допълнителен час\n2️⃣ Промениш този час\n3️⃣ Отмениш часа\n\nМоля, отговори с номера на желаната опция.\n\n_Dental Dashboard_",
        "options": {}
      },
      "id": "send-existing-appointment-notice",
      "name": "Send Existing Appointment Notice",
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        2020,
        100
      ],
      "credentials": {
        "evolutionApi": {
          "id": "XQSyFEVuFnjkHYYS",
          "name": "Evolution account"
        }
      },
      "notesInFlow": true,
      "notes": "NEW: Inform patient about existing appointment"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://dental-dashboard-nu.vercel.app/api/n8n/availability",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "79d22dce33bd515d33124461ecb3202c27e660944ef29b2cb3cdf3396d37c6e4"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $json.preferredDate || $today.plus({days: 1}).format('yyyy-MM-dd') }}"
            },
            {
              "name": "doctorId",
              "value": "={{ $json.preferredDoctorId || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-availability",
      "name": "Check Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "if-available",
      "name": "Slots Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2460,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dental-dashboard-nu.vercel.app/api/n8n/book-appointment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "79d22dce33bd515d33124461ecb3202c27e660944ef29b2cb3cdf3396d37c6e4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"doctorId\": \"{{ $json.slots[0].doctorId }}\",\n  \"patientPhone\": \"{{ $('Parse AI Response').first().json.phone }}\",\n  \"patientName\": \"{{ $('Parse AI Response').first().json.patientName }}\",\n  \"appointmentDate\": \"{{ $json.slots[0].date }}\",\n  \"startTime\": \"{{ $('Parse AI Response').first().json.preferredTime || $json.slots[0].startTime }}\",\n  \"type\": \"{{ $('Parse AI Response').first().json.procedureType || 'Преглед' }}\",\n  \"conversationId\": \"{{ $('Parse AI Response').first().json.conversationId }}\"\n}",
        "options": {}
      },
      "id": "create-booking",
      "name": "Create Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2680,
        100
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "instanceName": "settbg",
        "remoteJid": "={{ $('Parse AI Response').first().json.phone }}@s.whatsapp.net",
        "message": "={{ $('Parse AI Response').first().json.isReturningPatient ? '✅ *Часът е запазен успешно, ' + ($('Parse AI Response').first().json.patientName || '') + '!*\\n\\nРадваме се да те видим отново!' : '✅ *Часът е запазен успешно!*' }}\n\n📅 *Дата:* {{ $json.appointment.formattedDate }}\n⏰ *Час:* {{ $json.appointment.startTime }}\n👨‍⚕️ *Лекар:* {{ $json.appointment.doctorName }}\n📋 *Процедура:* {{ $json.appointment.type }}\n\n{{ $('Parse AI Response').first().json.totalVisits > 0 ? '🏆 Това ще бъде посещение №' + ($('Parse AI Response').first().json.totalVisits + 1) + ' при нас!' : '' }}\n\nОчакваме те\\! Ако искаш да промениш часа, отговори на това съобщение.\n\n_Dental Dashboard_",
        "options": {}
      },
      "id": "send-confirmation",
      "name": "Send Booking Confirmation",
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        2900,
        100
      ],
      "credentials": {
        "evolutionApi": {
          "id": "XQSyFEVuFnjkHYYS",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "instanceName": "settbg",
        "remoteJid": "={{ $('Parse AI Response').first().json.phone }}@s.whatsapp.net",
        "message": "😔 За съжаление, няма свободни часове за избраната дата.\n\n📅 Свободни дни за следващата седмица:\n• Понеделник - Петък: 09:00 - 18:00\n• Събота: 09:00 - 14:00\n\nМоля, напиши друга дата или се обади на рецепцията.\n\n_Dental Dashboard_",
        "options": {}
      },
      "id": "send-no-slots",
      "name": "Send No Slots Available",
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        2680,
        300
      ],
      "credentials": {
        "evolutionApi": {
          "id": "XQSyFEVuFnjkHYYS",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "instanceName": "settbg",
        "remoteJid": "={{ $json.phone }}@s.whatsapp.net",
        "message": "={{ $json.isReturningPatient ? '👋 Здравей, ' + ($json.patientName || '') + '! Радваме се да чуем от теб отново.' + ($json.lastVisit ? '\\n\\n📋 Последното ти посещение беше на ' + $json.lastVisit.date + ' за ' + $json.lastVisit.type + '.' : '') : '👋 Здравей!' }}\n\nБлагодаря за съобщението. Как мога да ти помогна?\n\n📅 *Запази час* - напиши \"Искам час за [дата]\" или \"Запази ми час утре в 10\"\n\n❓ *Въпроси* - свържи се с нас на телефон\n\n_Dental Dashboard_",
        "options": {}
      },
      "id": "send-help",
      "name": "Send Help Message",
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        2240,
        500
      ],
      "credentials": {
        "evolutionApi": {
          "id": "XQSyFEVuFnjkHYYS",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"processed\": true}",
        "options": {}
      },
      "id": "response-success",
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3120,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"skipped\": \"not_text_message\"}",
        "options": {}
      },
      "id": "response-skip",
      "name": "Response Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        400
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Is Text Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Text Message?": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Lookup Patient History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Patient History": {
      "main": [
        [
          {
            "node": "Log Inbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Inbound Message": {
      "main": [
        [
          {
            "node": "AI Intent Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Intent Parser": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Has Upcoming Appointment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Upcoming Appointment?": {
      "main": [
        [
          {
            "node": "Send Existing Appointment Notice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Existing Appointment Notice": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "Slots Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slots Available?": {
      "main": [
        [
          {
            "node": "Create Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send No Slots Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Booking": {
      "main": [
        [
          {
            "node": "Send Booking Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Booking Confirmation": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send No Slots Available": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Help Message": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Sofia"
  },
  "staticData": null,
  "tags": [
    {
      "name": "whatsapp",
      "id": "1"
    },
    {
      "name": "booking",
      "id": "2"
    },
    {
      "name": "patient-history",
      "id": "3"
    }
  ],
  "triggerCount": 1,
  "meta": {
    "templateId": "dental-whatsapp-booking-v2",
    "instanceId": "dental-dashboard"
  }
}
